<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PIM_Hotel.Properties.Settings.cad_funcConnectionString"
            connectionString="Data Source=DUKE\SQLEXPRESS01;Initial Catalog=cad_func;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PIM_Hotel.Properties.Settings.hotelConnectionString"
            connectionString="Data Source=DUKE\SQLEXPRESS01;Initial Catalog=hotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PIM_Hotel.Properties.Settings.reservaConnectionString"
            connectionString="Data Source=DUKE\SQLEXPRESS01;Initial Catalog=reserva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>